/*********
 * FONTS *
 *********/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: local('Futura'), local('Futura-Regular'), url(../fonts/futura.woff) format('woff');
}





/*************
 * KEYFRAMES *
 *************/

@-webkit-keyframes fade-in-out-scale {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    25%, 75% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.9);
    }
}

@-webkit-keyframes fade-in-scale-short {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fade-in-scale {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fade-out-scale {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes other-fade-out-scale {
    100% {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes uncover-text {
    0% {
        max-width: 0px;
    }
    100% {
        max-width: 240px;
    }
}

@-webkit-keyframes start-cursor {
    0% {
        width: 117px;
        margin-left: 61px;
        padding: 5px 15px;
    }
    33%, 66% {
        width: 0;
        margin-left: 0;
        padding: 5px 0;
    }
    100% {
        width: 0;
        margin-left: 240px;
        padding: 5px 0;
    }
}






/***************
 * MAIN STYLES *
 ***************/



body {
    font-family: "Futura";
}


.pane {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pane .content, .pane .gallery, .pane .sources {
    position: absolute;
    width: 100%;
    height: 100%;
}

.floater {
    height: 50%;
}




/**************
 * ANIMATIONS *
 **************/

.pane {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s, visibility 0s 1s, z-index 0s 1s;
}

.pane.show {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    transition: opacity 1s, visibility 0s 0s, z-index 0s 0s;
}

.pane.show .content {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 0s 0s;
}

.pane .gallery, .pane .sources {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0s 1s;
}

.pane .gallery.show, .pane .sources.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 0s 1s;
}











/*********************
 * INDIVIDUAL STYLES *
 *********************/


.pane0 {
    background-image: radial-gradient(ellipse closest-corner at 50% 50%, rgb(255, 185, 55) 0%, rgb(255, 165, 0) 100%);
}


.pane0-inner {
    width: 60%;
    height: 300px;
    margin: -150px auto 0 auto;
}

.pane0-inner-title {
    opacity: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-family: "Bree Serif";
    color: white;
    text-shadow: 2px 3px grey;
}

.pane0-inner-subtitle {
    opacity: 0;
    margin-top: 0;
    font-size: 35px;
    font-weight: 500;
    color: #666666;
}

.pane0-start {
    position: relative;
    width: 250px;
    margin: 0 auto;
}

.pane0-start-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 0px;
    margin: 0;
    line-height: 58px;
    font-size: 30px;
    color: #666666;
    overflow: hidden;
}

.pane0-start-button {
    opacity: 0;
    position: relative;   /* to display it above pane1-start-text */
    width: 117px;
    height: 58px;
    margin: 0 0 0 61px;
    padding: 5px 15px;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 5px;
    font-family: inherit;
    font-size: 30px;
    color: white;
    background: transparent;
    cursor: pointer;
    outline: none;
    
    transition: color .1s, background .1s;
}

.pane0-start-button:hover {
    color: #FFB42B;
    background: white;
}

.pane0 .top-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.pane0.animate-in .pane0-inner-title, .pane0.animate-in .pane0-inner-subtitle {
    -webkit-animation: fade-in-scale .6s forwards;
}

.pane0.animate-in .pane0-start-button {
    -webkit-animation: fade-in-scale .6s .6s forwards;
}

.pane0.animate-out .pane0-inner-title, .pane0.animate-out .pane0-inner-subtitle {
    -webkit-animation: fade-out-scale .6s .6s both;
}

.pane0.animate-out .pane0-start-button {
    -webkit-animation: fade-out-scale .6s both;
}

.pane0.special-animate .pane0-inner-title, .pane0.special-animate .pane0-inner-subtitle {
    opacity: 1;
    -webkit-animation: fade-out-scale .8s both;
}

.pane0.special-animate .pane0-start-button {
    opacity: 1;
    -webkit-animation: start-cursor 2.4s .8s forwards;
}

.pane0.special-animate .pane0-start-text {
    -webkit-animation: uncover-text .8s 2.4s forwards;
}

.pane0.special-out .pane0-start {
    -webkit-animation: fade-out 1s;
}








.pane1 {
    background: #313131;
    color: white;
}

.pane1 p {
    display: block;
    opacity: 0;
    font-size: 25px;
    transition: opacity 0s 1s;
}

.pane1.show p {
    opacity: 1;
}

.pane1 p:first-child {
    width: 200px;
    margin: 20px;
}

.pane1 p:nth-child(2) {
    position: absolute;
    top: 50%;
    right: 20px;
}

.pane1 p:last-child {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    text-align: center;
}

.pane1.animate-in p {
    opacity: 1;
}

.pane1.animate-out p {
    opacity: 0;
    transition: opacity 1s;
}

.pane1.animate-in p:first-child {
    -webkit-animation: fade-in-out-scale 4s 1s both;
}

.pane1.animate-in p:nth-child(2) {
    -webkit-animation: fade-in-out-scale 4s 6s both;
}

.pane1.animate-in p:last-child {
    opacity: 1;
    -webkit-animation: fade-in-scale-short 1s 11s both;
}