/*********
 * FONTS *
 *********/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(lib/slick.css);
@import url(../font-awesome/css/font-awesome.css);

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: local('Futura'), local('Futura-Regular'), url(../fonts/futura.woff) format('woff');
}





/*************
 * KEYFRAMES *
 *************/

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fade-in-out-scale {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    25%, 75% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.9);
    }
}

@-webkit-keyframes fade-in-scale {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fade-in-scale-short {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fade-in-scale-image {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@-webkit-keyframes fade-out-scale {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes fade-out-scale-image {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.8);
    }
}

@-webkit-keyframes uncover-text {
    0% {
        max-width: 0px;
    }
    100% {
        max-width: 240px;
    }
}

@-webkit-keyframes start-cursor {
    0% {
        width: 77px;
        margin-left: 61px;
        padding: 5px 15px;
    }
    40%, 60% {
        width: 0;
        margin-left: 0;
        padding: 5px 0;
    }
    100% {
        width: 0;
        margin-left: 240px;
        padding: 5px 0;
    }
}






/***************
 * MAIN STYLES *
 ***************/



body {
    font-family: "Futura";
}


.pane {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pane .close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    transition: transform .2s;
}

.pane .close:hover {
    transform: scale(1.2);
}

.content, .sources, .more {
    background: radial-gradient(ellipse closest-corner at 50% 50%, rgb(255, 185, 55) 0%, rgb(255, 165, 0) 100%);
}

.gallery {
    background: #313131;
}

.sources, .more {
    overflow: auto;
}

.content .date, .content .image, .content .title,
.sources .title, .sources ul, .sources .close,
.more .title, .more .inner, .more .close,
.gallery .photo img, .gallery .photo .title,
.gallery .arrow, .gallery .close,
.content-0 .controls {
    opacity: 0;
}

.content .date {
    width: 100px;
    margin: 30px auto;
    font-size: 45px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 3px grey;
}

.content:not(.content-0) .title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 25px;
    color: #4c4c4c;
}

.content .image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.content .extras {
    font-size: 25px;
}

.content .extras i {
    padding: 0 5px;
    cursor: pointer;
    transition: transform .3s;
}

.content .extras i:hover {
    transform: scale(1.2);
}

.sources .title, .pane .body .title {
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 2px 3px grey;
}

.sources ul {
    font-size: 25px;
    text-align: center;
    list-style: none;
    color: grey;
}

.sources ul li {
    margin-top: 10px;
}

.sources ul li:first-child {
    margin-top: 0;
}

.sources ul a {
    color: #005AFF;
}

.sources .close {
    color: #666666;
}

.more .title {
    font-size: 45px;
    text-align: center;
    color: white;
    text-shadow: 2px 3px grey;
}

.more .inner {
    margin: 0 10%;
    line-height: 35px;
    font-size: 20px;
    color: #4C4C4C;
}

.more .p {
    margin-top: 30px;
}

.more p:first-child {
    margin-top: 0;
}

.more .close {
    color: #666666;
}

.gallery {
    background: #313131;
}

.gallery .inner, .gallery .slick-list, .gallery .slick-track, .gallery .photo {
    width: 100%;
    height: 100%;
}

.gallery .photo {
    position: relative;
    text-align: center;
}

.gallery .photo .title {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 100;
    opacity: 0;
    margin: 0;
    font-size: 25px;
    text-align: left;
    color: white;
    text-shadow: 0 0 20px #313131;
}

.gallery .photo img {
    display: inline;
    height: 100%;
}

.gallery .arrow {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 20px #313131;
    cursor: pointer;
}

.gallery .arrow i {
    transition: transform .2s;
}


.gallery .arrow i:hover {
    transform: scale(1.2);
}

.gallery .arrow-left {
    left: 49px;
}

.gallery .arrow-right {
    right: 49px;
}

.gallery .close {
    color: white;
    text-shadow: 0 0 20px #313131;
}

.side-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 200;
    margin-top: -22px;
}

.side-nav .dot {
    width: 9px;
    height: 9px;
    background: white;
    margin: 15px 0;
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s;
}

.side-nav .dot:first-child {
    margin-top: 0;
}

.side-nav .dot:last-child {
    margin-bottom: 0;
}

.side-nav .dot.selected {
    background: grey;
}

.side-nav .dot:hover {
    transform: scale(1.3);
}

.floater {
    height: 50%;
}






/**************
 * ANIMATIONS *
 **************/

.pane {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.pane.show {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.pane.show-in {
    transition: opacity 1s, visibility 0s 0s;
}

.pane.show-out {
    transition: opacity 1s, visibility 0s 1s;
}

.content.animate-in .image {
    -webkit-animation: fade-in-scale-image .6s both;
}

.content.animate-in .date {
    -webkit-animation: fade-in-scale .4s .6s both;
}

.content.animate-in .title {
    -webkit-animation: fade-in-scale .4s 1s both;
}

.content.animate-out .image {
    -webkit-animation: fade-out-scale-image .6s .8s both;
}

.content.animate-out .date {
    -webkit-animation: fade-out-scale .4s .4s both;
}

.content.animate-out .title {
    -webkit-animation: fade-out-scale .4s both;
}

.more.animate-in .title {
    -webkit-animation: fade-in-scale .4s both;
}

.more.animate-in .inner {
    -webkit-animation: fade-in-scale .4s .4s both;
}

.more.animate-in .close {
    -webkit-animation: fade-in-scale .4s .8s both;
}

.more.animate-out .title {
    -webkit-animation: fade-out-scale .4s .8s both;
}

.more.animate-out .inner {
    -webkit-animation: fade-out-scale .4s .4s both;
}

.more.animate-out .close {
    -webkit-animation: fade-out-scale .4s both;
}

.sources.animate-in .title {
    -webkit-animation: fade-in-scale .4s both;
}

.sources.animate-in ul {
    -webkit-animation: fade-in-scale .4s .4s both;
}

.sources.animate-in .close {
    -webkit-animation: fade-in-scale .4s .8s both;
}

.sources.animate-out .title {
    -webkit-animation: fade-out-scale .4s .8s both;
}

.sources.animate-out ul {
    -webkit-animation: fade-out-scale .4s .4s both;
}

.sources.animate-out .close {
    -webkit-animation: fade-out-scale .4s both;
}

.gallery.animate-in .slick-list img {
    -webkit-animation: fade-in-scale .6s both;
}

.gallery.animate-in .title {
    -webkit-animation: fade-in-scale .4s .6s both;
}

.gallery.animate-in .arrow {
    -webkit-animation: fade-in-scale .4s 1s both;
}

.gallery.animate-in .close {
    -webkit-animation: fade-in-scale .4s 1.4s both;
}

.gallery.animate-out .slick-list img {
    -webkit-animation: fade-out-scale .6s 1.2s both;
}

.gallery.animate-out .title {
    -webkit-animation: fade-out-scale .4s .8s both;
}

.gallery.animate-out .arrow {
    -webkit-animation: fade-out-scale .4s .4s both;
}

.gallery.animate-out .close {
    -webkit-animation: fade-out-scale .4s both;
}














/*********************
 * INDIVIDUAL STYLES *
 *********************/


.content-0 .inner {
    opacity: 1;
}

.content-0 .inner {
    width: 60%;
    height: 300px;
    margin: -150px auto 0 auto;
}

.content-0 .title {
    opacity: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-family: "Bree Serif";
    color: white;
    text-shadow: 2px 3px grey;
}

.content-0 .subtitle {
    opacity: 0;
    margin-top: 0;
    font-size: 35px;
    font-weight: 500;
    color: #666666;
}

.content-0 .start {
    position: relative;
    width: 250px;
    margin: 0 auto;
}

.content-0 .start-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 0px;
    margin: 0;
    line-height: 58px;
    font-size: 30px;
    color: #666666;
    overflow: hidden;
}

.content-0 .start-button {
    display: inline-block;
    opacity: 0;
    position: relative;   /* to display it above pane1-start-text */
    width: 77px;
    height: 38px;
    margin: 0 0 0 61px;
    padding: 5px 15px;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 5px;
    font-family: inherit;
    font-size: 30px;
    color: white;
    background: transparent;
    cursor: pointer;
    outline: none;
    
    transition: color .1s, background .1s;
}

.content-0 .start-button:hover {
    color: #FFB42B;
    background: white;
}

.content-0 .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.content-0.animate-in .title, .content-0.animate-in .subtitle {
    -webkit-animation: fade-in-scale .4s forwards;
}

.content-0.animate-in .start-button {
    -webkit-animation: fade-in-scale .4s .4s forwards;
}

.content-0.animate-out .title, .content-0.animate-out .subtitle {
    -webkit-animation: fade-out-scale .4s .4s both;
}

.content-0.animate-out .start-button {
    -webkit-animation: fade-out-scale .4s both;
}

.content-0.special-animate .title, .content-0.special-animate .subtitle {
    opacity: 1;
    -webkit-animation: fade-out-scale .4s both;
}

.content-0.special-animate .start-button span {
    -webkit-animation: fade-out .4s forwards;
}

.content-0.special-animate .start-button {
    opacity: 1;
    -webkit-animation: start-cursor 2s .4s forwards;
}

.content-0.special-animate .start-text {
    -webkit-animation: uncover-text .8s 1.6s forwards;
}

.content-0.special-animate .controls {
    -webkit-animation: fade-in-scale .6s 2.4s forwards;
}

.content-0.special-out .start {
    -webkit-animation: fade-out-scale .4s .4s forwards;
}

.content-0.special-out .controls {
    -webkit-animation: fade-out-scale .4s forwards;
}








.content-1 {
    background: #313131;
    color: white;
}

.content-1 .inner {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}

.content-1 p {
    display: block;
    opacity: 0;
    font-size: 25px;
    transition: opacity 1s;
}

.content-1 p:first-child {
    width: 200px;
    margin: 30px;
}

.content-1 p:nth-child(2) {
    position: absolute;
    top: 50%;
    right: 49px;
}

.content-1 p:last-child {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    text-align: center;
}

.content-1.animate-in p:first-child {
    -webkit-animation: fade-in-out-scale 4s 1s;
}

.content-1.animate-in p:nth-child(2) {
    -webkit-animation: fade-in-out-scale 4s 6s;
}

.content-1.animate-in p:last-child {
    -webkit-animation: fade-in-scale-short 1s 11s forwards;
}

.content-1.animate-out .inner {
    opacity: 0;
}








.more-3 table {
    width: 255px;
    margin: 0 auto;
    border-collapse: collapse;
}

.more-3 table tr:first-child {
    border-bottom: 1px solid #4C4C4C;
}

.more-3 table td, .more-3 table th {
    padding: 0 15px;
}

.more-3 table td:first-child {
    border-right: 1px solid #4C4C4C;
}

.more-3 table td:last-child {
    text-align: right;
}